 <!-- Start the robot URDF (to view in RViz) and publish its link transformations (TF tree) -->

<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="use_simulation" default="false"/>

  <include file="$(find mecabot_bringup)/launch/includes/description.launch.xml">
    <arg name="use_simulation" value="$(arg use_simulation)"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>
</launch>