<!-- Spawn the robot along with the simulation world in Gazebo -->

<?xml version="1.0"?>
<launch>
    
    <!-- Default world name -->
    <arg name="world_name" default="$(find mecabot_gazebo)/worlds/demo_room.world"/>
    <!-- Default spawn position -->
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.1"/>
    <!-- Open with rViz or not -->
    <!-- <arg name="use_rviz" default="true"/> -->
    
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/> 
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mecabot_description)/urdf/mecabot.urdf.xacro" />

    <!-- Spawn the robot with gazebo_ros -->
    <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-urdf -model mecabot -param robot_description -x $(arg x) -y $(arg y) -z $(arg z)"/>

    <!-- <include file="$(find mecabot_gazebo)/launch/mecabot_rviz.launch" if="$(arg use_rviz)"/> -->

</launch>