<?xml version="1.0"?>
<launch>
    
    <include file="$(find mecabot_gazebo)/launch/spawn_world.launch"/>

    <arg name="config" default="urdf"/>
    <arg name="rvizconfig" default="$(find mecabot_body)/rviz/urdf.rviz" />

    <!-- Default spawn position -->
    <arg name="x" default="0.5"/>
    <arg name="y" default="0.5"/>
    <arg name="z" default="0.1"/>
    
    <param name="robot_description" command="$(find xacro)/xacro '$(find mecabot_body)/urdf/mecabot.urdf.xacro'"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" respawn="false"></node>

    <!-- Spawn the robot with gazebo_ros -->
    <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-urdf -model mecabot -param robot_description -x $(arg x) -y $(arg y) -z $(arg z)"/>
    <!-- Open rviz for visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

</launch>