<launch>
    <!-- Arguments -->
    <arg name="map_file" default="$(find mecabot_navigation)/maps/demo_map_save.yaml"/>
    <arg name="move_forward_only" default="true"/>
    <arg name="use_rviz" default="true"/>
    <arg name="rvizconfig" default="$(find mecabot_navigation)/rviz/mecabot_nav.rviz" />
    <arg name="use_simulation" default="true"/>

    <!-- Upload the robot description to the parameter server -->
    <include file="$(find mecabot_bringup)/launch/mecabot_remote.launch">
        <arg name="use_simulation" value="$(arg use_simulation)"/>
    </include>

    <!-- Initiate the real robot hardware & peripherals -->
    <include file="$(find mecabot_bringup)/launch/mecabot.launch" unless="$(arg use_simulation)"/>

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- Run the simulation in Gazebo (only run on server machine) -->
    <include file="$(find mecabot_gazebo)/launch/spawn_mecabot_world.launch" if="$(arg use_simulation)"/>

    <!-- AMCL -->
    <include file="$(find mecabot_navigation)/launch/amcl.launch"/>

    <!-- move_base -->
    <include file="$(find mecabot_navigation)/launch/move_base.launch">
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include>

    <!-- Open rviz for visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" if="$(arg use_rviz)"/>
</launch>